@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Add a new Machine</h4>

@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Purpose)
    @Html.TextBoxFor(model => model.Purpose)<br><br>

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId")<br><br>

    <input type="submit" value="Add new machine" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all machines", "Index")</p>
